@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
body{
	position: relative;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	color: #413b4b;
	background-color: #413b4b;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: .4s;
}
a{
	user-select: none;
	text-decoration: none;
	color: #413b4b;
}
.background{
	position: absolute;
	z-index: -2;
	height: 700px;
	width: 400px;
	background-color: #ebebeb;
	border-radius: 8px;
}
main{
	height: 700px;
	width: 400px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}
.container{
	height: 100%;
	width: 340px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}
.header{
	height: 60px;
	width: 340px;
	font-family: monospace;
	border-bottom: 2px solid #413b4b;
}
.options{
	margin-top: 20px;
	width: 340px;
	height: 40px;
	line-height: 40px;
}
.sections{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sections a{
	display: block;
	width: 90px;
	text-align: center;
	font-family: "Quicksand";
	color: #ebebeb;
	background-color: #312f33;
	box-shadow: 2px 2px 3px black;
	padding: 5px 25px 5px 25px;
	transition: .3s;
}
.sections::before{
	content: "";
	z-index: -1;
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 140px;
	transform: translateX(0px);
	border-top: 3px solid #413b4b;
	border-bottom: 3px solid #413b4b;
	background-color: #413b4b;
	transition: .3s;
}
.sections.flag::before{
	transform: translateX(200px);
}
.sections a.active{
	box-shadow: none;
	letter-spacing: 1.2px;
}
.content{
	margin-top: 20px;
	width: 700px;
	gap: 20px;
    transform: translateX(180px);
	height: 400px;
	display: flex;
	flex-flow: row nowrap;
	transition: .3s;
}
.tab{
	padding-top: 5px;
	width: 340px;
	height: 400px;
}
.tab h2{
	padding: 0;
	margin: 0;
}
.value{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.value_input, .count_input{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 10px;
}
.value_input input[type="text"], .count_input input[type="text"]{
	width: 107px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	border: 1.2px solid #413b4b;
	border-radius: 4px;
	transition: .3s;
}
.value_input a{
	transition: .2s;
}
.value_input a:hover{
	transform: scale(1.2);
}
.value_input input[type="text"].time_value{
	display: block;
	width: 40px;
}
.settings{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
button{
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	margin:40px 0 0 0;
	width: 340px;
	height: 60px;
	font-size: 16px;
	color: #ebebeb;
	background-color: #312f33;
	border: none;
	box-shadow: 0 -2px 2px #413b4b;
	transition: .3s;
	border-radius: 8px;
}
button:hover{
	background-color: #413b4b;
	color: #fff;
	letter-spacing: 1.5px;
}
@media(max-width: 700px){
	main{
		height: 550px;
		width: 300px;
	}
	.container{
		width: 270px;
	}
	.header{
		height: 30px;
		width: 270px;
		border-bottom: none;
		font-size: 11px;
		text-align: center;
	}
	.options{
		margin-top: 30px;
		width: 270px;
		height: 20px;
		line-height: 20px;
	}
	.sections a{
		width: 80px;
		padding: 5px 25px 5px 25px;
		font-size: 14px;
	}
	.sections::before{
		width: 130px;
	}
	.sections.flag::before{
		transform: translateX(140px);
	}
	.content{
		margin-top: 15px;
		height: 300px;
	}
	button{
		width: 100px;
		font-size: 13px;
	}
	.buttons{
		margin-top: 15px;
		display: flex;
		gap: 25px;
	}
	.value_input input[type="text"], .count_input input[type="text"]{
		width: 90px;
		height: 30px;
		font-size: 16px;
	}
	.value_input input[type="text"].time_value{
		width: 32.25px;
	}
	.background{
		height: 550px;
		width: 300px;
	}
}